/* Nothing here because everything I'm using thus far is a directive which needs to have its own style internally defined */
html, body {

  min-width:1000px; /* suppose you want minimun width of 1000px */

  width: 100%;
  height: 100%;

  padding: 0px;
  margin: 0px;

  background-color: white;
  background-image: url('gplaypattern.png');
  background-repeat: repeat;
}

#basemidbar{
  position: absolute;
  margin: 0px 13% 0px 13%;

  min-width:740px;
  width: 74%;
  height: 100%;

  background-color: #ffffff;
  background-image: url('seamlessgrey.jpg');
  background-repeat: repeat;

  box-shadow: 5px 0px 5px #888888,-5px 0px 5px #888888;
}

#topmidbar{
  position: absolute;
  margin: 10px 1% 10px 1%;

  min-width: 725px;
  width: 98%;
  height: 100%;

  background-color: rgba(255, 255, 255, 1);
}

#midbarnav{
  position: absolute;

  margin-left: 87%;
  margin-top: 5%;

  background-color: rgba(0,0,0,.5);

  width: 8%;
  height: 155px;

  text-align: center;
}

#midbarnav a{
  text-decoration:none;
  color: white;
}

#topmidbar a{
  color: #6B6B6B;
}

/* Home page */

.titlebar{

  position: absolute;
  margin: 60px 0px 10px 0px;

  min-width:740px;
  width: 100%;
  height: 390px;

  background-color: rgba(0, 0, 0, 0.5);
}

.titletext{
  position: absolute;

  margin-left: 50%;

  width: 47%;
  height: 350px;

  color: white;
  font-family: 'Droid Serif', serif;
  text-align: center;
}

.titletext h1{
  font-size: 47px;
  margin-top: 2px;
  margin-bottom:10px;
}

.titletext h2{
  font-size: 25px;
  font-style: italic;
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: left;
}

.titletext p{
  font-size: 25px;
  margin-top: 2px;
  margin-bottom: 2px;
}

#backcircle{

  position: absolute;
  border-radius: 50%;

  margin-left: 7%;
  margin-top: 5%;

  width: 40%;
  height: 0;
  padding-bottom: 40%;

  background: #fff;
}

#profilecircle{
  position: absolute;
  border-radius: 50%;

  margin-left: 2%;
  margin-top: 2%;

  width: 96%;
  height: 96%;
}

.linkbar{
  position: absolute;

  margin-left: 44%;
  margin-right: 1%;
  margin-top: 450px;
  width: 55%;
  height: 50px;
  text-align: center;
}

.linkbar div{
  position: absolute;

  width: 25%;
  height: 35px;

  margin-top: 15px;
}

.linkbar #abme {
  margin-left: 0px;
}

.linkbar #proj {
  margin-left: 25%;
}

.linkbar #blog {
  margin-left: 50%;
}

.linkbar #conm {
  margin-left: 75%;
}

.linkbar a{
  text-decoration: none;
  font-family: 'Droid Serif';
  font-size: 17px;
}

.linkbar a:link, .linkbar a:visited {
    color: #D3D3D3;
}

.linkbar a:hover, .linkbar a:active {
    color: #1F1F1F;
}

/* Template Pages */
#topmidbar div {
  position: absolute;

  margin: 40px 6% 0px 6%;
}

#topmidbar h1{
  margin-top: 0px;
  margin-bottom: 0px;
    
  font-size: 40px;
  font-family: 'Droid Serif', serif;
  color: #4F4F4F;  
}

#topmidbar p {
  font-family: 'Arial';
}