<div id="basemidbar">

    <div id = "topmidbar">

        <div>
            <h1>About Me</h1>
            <p><b>I’m from Maryland</b> and for my high school years we lived next to a horse farm which smelled awful but also meant that I got to volunteer there and every once in a while get a free riding lesson.  I guess everything in life has tradeoffs. </p>

            <p><b>I’m a Super Senior</b> (aka. in my 9th Semester) at Brown.  I started out Computer Engineering but quickly realized that it isn’t the mixture of Physics and Computer Science that I was hoping for.  Circuits diagrams are not for me.</p>

            <p><b>I consider David J. Griffiths my honorary friend</b> because I’ve spent so much time reading his Electricity and Magnetism and Quantum Mechanics textbooks while pursuing my Engineering Physics degree. </p>

            <p><b>I've loved Computer Science</b> ever since taking my first CS class freshman year.  Each semester I’ve found myself either programming or missing programming.  

            <p><b>My first internship was at the New York Times </b> when I finally decided to pursue Software Development this last summer. I worked on the Messaging Team and I loved it.  You can read about my experience <a href="http://open.blogs.nytimes.com/2014/09/03/real-world-development/">here</a>.</p>

            <p><b>I look forward to solving challenging problems </b>  after I graduate in December. I see myself finding an incredible job in technology where I get to solve exciting problems, possibly exciting problems surrounding Big Data or Machine Learning.</p>

            <p><b>I want to get a PhD</b> after my time in industry. I plan to go back to school to get my PhD in some field of Computer Science, likely Machine Learning.  From there, who knows? </p>

        </div>

    </div>

</div>

<div id= "midbarnav">
    <p><a href="/#/">Home</a></p>
    <p><a href="/#/projects">Projects</a></p>
    <p><a href="/#/blog">Blog</a></p>
    <p><a href="/#/contactme">Contact Me</a></p>
</div>