<div id="basemidbar">

    <div id = "topmidbar">

        <h1>About Me</h1>


        <div>
            <p>1) I’m from maryland! For my high school years we lived next to a horse farm which smelled awful but also meant that I got to volunteer there and every once in a while get a free riding lesson.  I guess everything in life has tradeoffs. </p>

            <p>2) I’m a Super Senior (aka. in my 9th Semester) at Brown.  I started out Computer Engineering but quickly realized that it isn’t the mixture of Physics and Computer Science that I was hoping for.  Circuits diagrams are not for me.</p>

            <p>3) I consider David J. Griffiths my honorary friend because I’ve spent so much time reading his Electricity and Magnetism and Quantum Mechanics textbooks while pursuing my Engineering Physics degree. </p>

            <p>4) Ever since taking my first CS class freshman year I’ve found myself either programming or missing programming.  I finally decided to pursue Software Development this last summer and worked on the Messaging Team at The New York Times and I loved it.  You can read about my experience here. </p>

            <p>5) After graduating in December I see myself finding an incredible job in technology where I get to solve challenging problems, possibly challenging problems surrounding Big Data or Machine Learning, and work there for n years (2 less n less 10). </p>

            <p>6) Next I plan to go back to school to get a PhD in some field of Computer Science, likely Machine Learning.  From there, who knows? </p>

        </div>

    </div>

</div>