<div id="basemidbar">

    <div id = "topmidbar">

        <div>
            <h1> Contact Me</h1>

            <p>Email: danielle.rothermel@gmail.com</p>
            <p>Linked In: <a href="https://www.linkedin.com/pub/danielle-rothermel/31/961/658">my profile</a></p>
            <p>Github: <a href="github.com/drotherm">github.com/drotherm</a></p>
        </div>

    </div>

</div>

<div id= "midbarnav">
    <p><a href="/#/">Home</a></p>
    <p><a href="/#/aboutme">About Me</a></p>
    <p><a href="/#/projects">Projects</a></p>
    <p><a href="/#/blog">Blog</a></p>
</div>