<div id="basemidbar">

	<div class = "titlebar">
		<div id="backcircle">
			<img id="profilecircle" src="../styles/myface.jpg">
		</div>
		<div class="titletext">
			<h2>Hello, my name is</h3>
		 	<h1>Danielle Rothermel</h1>
			<p> I'm majoring in Engineering Physics and Computer Science and I love using math and algorithms to solve cool problems!</p>
		</div>
	</div>
	<div class = "linkbar">
		<div id="abme"><a href="/#/aboutme">About Me</a></div>
		<div id="proj"><a href="/#/projects">Projects</a></div>
		<div id="blog"><a href="/#/blog">Blog</a></div>
		<div id="conm"><a href="/#/contactme">Contact Me</a></div>
	</div>
</div>