<div id="basemidbar">

    <div id = "topmidbar">

        <div>
            <h1>Projects</h1>

            <p>My most recent project involved creating a dashboard to display user behavior in response to Breaking News Alerts sent to mobile devices and on the home page.  You can read more about it <a href="http://open.blogs.nytimes.com/2014/09/03/real-world-development/">on the NYT Open Blog</a>.</p>

            <p>More to come (both past and future projects).</p>
        </div>

    </div>

</div>

<div id= "midbarnav">
    <p><a href="/#/">Home</a></p>
    <p><a href="/#/aboutme">About Me</a></p>
    <p><a href="/#/blog">Blog</a></p>
    <p><a href="/#/contactme">Contact Me</a></p>
</div>